doctype html
html(lang="ru")
    head
        title Повышение квалификации
        include ../pug/head.html
    body
        // Content
        div(id="content")
            div(class="inner")
                include ../pug/content/certificates.html
        // ContentEnd

        // Sidebar
        div(id="sidebar")
            include ../pug/logo.html

            // Nav
            nav(id="nav")
                ul
                    li: a(href="http://liagolik.ru/") Обо мне
                    li(class="current"): a(href="#") Повышение квалификации
                    li: a(href="#") Открытые уроки
                    li: a(href="#") Семинары
                    li: a(href="#") МЭШ
                    li: a(href="#") ШНТ
                    li: a(href="#") Контакты

            include ../pug/recent-posts.html
            include ../pug/copyright.html

        include ../pug/scripts.html

//- Версия сайта
include ../pug/v.pug